{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

        	{% if msg is defined %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-check"></i>{{ msg }}
                </div>
            {% endif %}

            <br>

            Buscar por:
            <select class="form-control" style="width: 200px;" id="tipo_busca">
                <option value="1">Nome do Medicamento</option>
                <option value="2">Princípio Ativo</option>
            </select>

            <br>

            <div class="input-group input-group-sm">
                <input id="term" type="text" class="form-control" placeholder="Busca de medicamentos cadastrados">
                <span class="input-group-btn">
                    <button id="pesquisar-estoque" type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>

            <br>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Medicamentos Cadastrados</h3>
                </div>
                <div class="row loading" style="width: 98%; margin-left: 10px;">
                    <h3>Carregando...</h3>
                    <div class="progress progress-striped active page-progress-bar">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>

                <table class="table table-hover" id="content-table">
                    <tbody>
                        <tr>
                            <th>Nome</th>
                            <th>Apresentação</th>
                            <th>Princípio Ativo</th>
                            <th>Quantidade</th>
                            <th></th>
                        </tr>

                        {% for med in medicamentos %}
                        <tr>
                            <td>{{ med.nome }}</td>
                            <td>{{ med.apresentacao }}</td>
                            <td>{{ med.principioAtivoCod.principioAtivoNome }}</td>
                            <td>{{ med.qtd }}</td>
                            <td style="text-align: right;">
                                <a href="{{ path('inserir-medicamentos', {'id' : med.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-success btn-flat">Inserir</button></a>
                                <a href="{{ path('lista-entradas', {'id' : med.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-warning btn-flat">Entradas já cadastradas</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>

            {#{{ dump(entradas) }}#}
            {#<div class="box">#}
                {#<div class="box-header with-border">#}
                    {#<h3 class="box-title">Entrada de Medicamentos</h3>#}
                {#</div>#}

                {#<div class="row loading" style="width: 98%; margin-left: 10px;">#}
                    {#<h3>Carregando...</h3>#}
                    {#<div class="progress progress-striped active page-progress-bar">#}
                        {#<div class="progress-bar" style="width: 100%;"></div>#}
                    {#</div>#}
                {#</div>#}

                {#<table class="table table-hover">#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<th>Nota Fiscal</th>#}
                        {#<th>Medicamento</th>#}
                        {#<th>Princípio Ativo</th>#}
                        {#<th>Quantidade</th>#}
                        {#<th>Data de entrada</th>#}
                        {#<th>Validade do lote</th>#}
                    {#</tr>#}

                    {#{% for ent in entradas %}#}
                        {#<tr>#}
                            {#<td>{{ ent.numeroNf }}</td>#}
                            {#<td>{{ ent.medicamentoCod.nome }}</td>#}
                            {#<td>{{ ent.medicamentoCod.principioAtivoCod.principioAtivoNome }}</td>#}
                            {#<td>{{ ent.qtdEntrada }}</td>#}
                            {#<td>{{ ent.dataEntrada|date('d/m/Y') }}</td>#}
                            {#<td>{{ ent.validadeLote|date('d/m/Y') }}</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    {#</tbody>#}
                {#</table>#}
            {#</div>#}

        </section>
        <!-- /.content -->
    </div>
{% endblock %}