<!-- jQuery 2.2.3 -->
<script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/app.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<script type="application/javascript">

    $(document).ready(function () {

        $('#pesquisar').click(function () {

            $.ajax({
                url: ,
                data: {
                    format: 'json'
                },
                error: function() {
                    alert('Erro na busca!');
                },
                dataType: 'jsonp',
                success: function(data) {
                    alert('busca ok');
                },
                type: 'POST'
            });

        });

    });

</script>

</body>
</html>